// ================================== Start Footer ==================================
footer.py-5.bg-section
  .container 
    .row 
      .col-md-6.col-lg-3.mb-3.d-lg-flex.justify-content-center 
        .info.text-muted
          h4.text-danger HCoding
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nihil nisi atque tempore harum molestiae.
          p #[b Email:] Info@example.com
          p #[b Phone:] +111 22 333 4444
      .col-md-6.col-lg-3.mb-3.d-lg-flex.justify-content-center
        .link.text-muted 
          h6.text-dark Useful Links
          ul.list-unstyled.ps-3.footer-list
            -for(var i = 0; i < 5; i = i + 1)
              li.lh-lg.position-relative Home 
      .col-md-6.col-lg-3.mb-3.d-lg-flex.justify-content-center
        .link.text-muted 
          h6.text-dark Useful Links
          ul.list-unstyled.ps-3.footer-list
            -for(var i = 0; i < 5; i = i + 1)
              li.lh-lg.position-relative Home 
      .col-md-6.col-lg-3.mb-3.d-lg-flex.justify-content-center
        .link.text-muted 
          h6.text-dark Our Social NEtworks
          p Gras fermentum odio eu feugiat lide par naso tierra videa magna derita valies
          .social
            a.bi.bi-linkedin.me-1.fs-2.p-2(href="#")
            a.bi.bi-twitter.me-1.fs-2.p-2(href="#")
            a.bi.bi-facebook.me-1.fs-2.p-2(href="#")
            a.bi.bi-instagram.me-1.fs-2.p-2(href="#")
// ================================== End Footer ==================================